@import 'setup/all';
@import 'external/all';
@import 'components/all';

body,
html {
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  background: $white;

  &.mode-dark {
    color: $body-dark;
    background: $body-dark;
  }
}
