@font-face {
  font-family: 'Kollektif';
  src: url('../../src/Fonts/Kollektif.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Kollektif';
  src: url('../../src/Fonts/Kollektif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
