//  ==========================
//
//  COLOURS
//
//  ==========================

$black: rgba(0, 0, 0, 0);
$white: rgba(255, 255, 255, 1);
$red: rgba(208, 2, 27, 1);
$yellow: rgba(245, 166, 35, 1);
$green: rgba(126, 211, 33, 1);
$brown: rgba(139, 87, 42, 1);
$purple: rgba(144, 19, 254, 1);
$blue: rgba(74, 144, 226, 1);
$grey: rgba(155, 155, 155, 1);
$off-white: rgb(245, 245, 245);
$dark: rgb(10, 10, 10);
$blue: #005c97;
$blue-hover: #076aa8;
$dark-blue: #031b4e;
$sombre-blue: #151922;
$circle-blue: #00537f;
$blue-sky: #00afea;
$light-green: #00c9b7;
$yellow-bright: #f2f1c6;
$hero-gradient: linear-gradient(
  to bottom,
  #004967,
  #00537f,
  #005c97,
  #0064b0,
  #006bc7,
  #0174d3,
  #017ce0,
  #0085ec,
  #0091ef,
  #009df0,
  #00a8f0,
  #04b2ef
);

//  ==========================
//
//  GRID SETTINGS
//
//  - Open Sketch, locate 'View' in the top right, click 'Layout Settings...'
//  - Update $mobile-gutter-width below to the 'Gutter Width' value in Sketch
//  - Update $total-width below to 'Total Width' value in Sketch
//
//  ==========================

// Gutter width [Mobile]
$mobile-gutter-width: 40px;

// Gutter width [Tablet]
$tablet-gutter-width: $mobile-gutter-width;

// Gutter width [Desktop]
$desktop-gutter-width: $tablet-gutter-width;

// Total width
$total-width: 1140px;
$header-width: 1200px;

//  ==========================
//
//  BREAKPOINTS
//
//  ==========================

$bp-sm: 520px;
$bp-md: 768px;
$bp-lg: 1025px;
$bp-xl: 1140px;

//  ==========================
//
//  FONTS
//
//  ==========================

$font-primary: 'Dosis', sans-serif;
$font-secondary: 'Dosis', sans-serif;
