.hero-article {
  background-color: $dark-purple;
  padding: 60px 0 30px;
  position: relative;

  @include bp(md) {
    padding: 100px 0;
  }

  &__content {
    h1,
    p {
      color: $white;
    }

    h1 {
      line-height: 45px;
      margin: 30px 0 10px;
    }

    svg {
      display: none;
      height: 200px;
      width: 200px;

      @include bp(md) {
        display: block;
      }
    }

    .tags {
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 0 25px;

      @include bp(md) {
        padding: 25px 0 0;
      }

      .icon {
        align-items: center;
        color: $light-green;
        display: flex;
      }
    }
  }
}

.archive-article {
  padding: 50px 0;
  transition: all 0.2s ease-in-out;

  .cols {
    padding-bottom: 30px;
  }

  .cat-meta {
    display: flex;
    justify-content: space-between;
    padding: 0 0 20px;

    @include bp(md) {
      padding: 0;
    }

    h4 {
      font-size: 16px;
      margin: 0;
    }

    .link {
      color: $navy-blue;
      a {
        color: $navy-blue;
        margin-right: 5px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.article-single {
  padding: 50px 0 20px;

  @include bp(md) {
    padding: 50px 0;
  }

  &-hero {
    &__title {
      color: $navy-blue;
      font-size: 20px;
      margin: 50px 0 30px;

      @include bp(md) {
        font-size: 30px;
      }

      @include bp(lg) {
        font-size: 40px;
      }
    }

    &__post_meta {
      align-items: center;
      display: flex;

      img {
        width: 25%;
      }

      &-content {
        color: $navy-blue;
        margin-left: 20px;

        .name {
          font-weight: 500;
          text-transform: capitalize;
        }

        .time,
        .icon {
          font-size: 14px;
          color: $dark-grey;
        }
      }
    }

    &__post_socials {
      span {
        color: $navy-blue;
      }

      .icon {
        color: $light-green;
        padding: 0 0 0 5px;
      }
    }

    &__image {
      background-size: cover !important;
      background-repeat: no-repeat !important;
      height: 200px;
    }

    .post_meta_wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0 0 50px;
    }
  }

  &-content {
    h1 {
      color: $navy-blue;
      font-size: 20px;
      margin: 20px 0;

      @include bp(md) {
        font-size: 30px;
      }

      @include bp(lg) {
        font-size: 40px;
      }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $blue;
      margin: 20px 0;
    }

    h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 25px;
    }

    p,
    ul {
      color: $dark;
      font-size: 14px;

      @include bp(md) {
        font-size: 16px;
      }

      @include bp(lg) {
        font-size: 19px;
      }
    }

    a {
      color: $light-green;
    }
  }

  &__post-body {
    .socials {
      border-bottom: 1px solid $dark-grey;
      padding: 0 0 10px;

      a {
        text-decoration: none;
      }

      .icon {
        color: $light-green;
        padding: 0 0 0 5px;
      }
    }

    .tags {
      padding: 20px 0;
      flex-wrap: wrap;

      .icon {
        align-items: center;
        color: $navy-blue;
        display: flex;
      }
    }
  }

  &__related-posts {
    padding: 30px 0;

    @include bp(md) {
      padding: 70px 0 0;
    }

    h3 {
      color: $navy-blue;
      font-size: 20px;
      margin: 0 0 20px;

      @include bp(md) {
        font-size: 25px;
      }
    }

    .posts {
      a {
        margin: 20px 0;
      }
    }
  }
}

.article-cat-hero {
  padding: 50px 0 0;

  h2 {
    color: $navy-blue;
    margin: 20px 0;

    @include bp(md) {
      margin: 0;
    }
  }
}

.mode-dark {
  .archive-article {
    .cat-meta {
      h4,
      a,
      .link {
        color: $blue;
      }
    }
  }

  .article-single {
    &-hero {
      &__title {
        color: $blue;
      }

      &__post_meta {
        &-content {
          color: $white;

          .time,
          .icon {
            color: $grey;
          }
        }
      }

      &__post_socials {
        span {
          color: $white;
        }

        .icon {
          color: $light-green;
        }
      }
    }

    &-content {
      h1 {
        color: $blue;
      }

      p,
      ul {
        color: $white;
      }
    }

    &__post-body {
      .tags {
        .icon {
          color: $blue;
        }
      }
    }

    &__related-posts {
      h3 {
        color: $blue;
      }
    }
  }

  .article-cat-hero {
    h2 {
      color: $blue;
    }
  }
}
