.hero-article {
  background-color: $dark-purple;
  padding: 100px 0;

  &__content {
    h1 {
      color: $white;
    }

    svg {
      display: none;
      height: 200px;
      width: 200px;

      @include bp(md) {
        display: block;
      }
    }

    .tags {
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 0 25px;

      @include bp(md) {
        padding: 0;
      }

      .icon {
        align-items: center;
        color: $light-green;
        display: flex;
      }
    }
  }
}

.archive-article {
  padding: 50px 0;
  transition: all 0.2s ease-in-out;

  .cols {
    padding-bottom: 30px;
  }

  .cat-meta {
    display: flex;
    justify-content: space-between;

    h4 {
      font-size: 16px;
      margin: 0;
    }

    .link {
      color: $navy-blue;
      a {
        color: $navy-blue;
        margin-right: 5px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.article-single-hero {
  margin: 50px 0 20px;

  &__title {
    color: $navy-blue;
    font-size: 40px;
    margin: 30px 0;
  }

  &__post_meta {
    align-items: center;
    display: flex;

    img {
      width: 25%;
    }

    &-content {
      color: $navy-blue;
      margin-left: 20px;

      .name {
        font-weight: 500;
        text-transform: capitalize;
      }

      .time,
      .icon {
        font-size: 14px;
        color: $dark-grey;
      }
    }
  }

  &__post_socials {
    span {
      color: $navy-blue;
    }

    .icon {
      color: $light-green;
      padding: 0 0 0 5px;
    }
  }

  &__image {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 200px;
  }

  .post_meta_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 0 50px;
  }
}

.article-single-content {
  h1 {
    color: $navy-blue;
    font-size: 40px;
    margin: 20px 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $blue;
    margin: 20px 0;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  p,
  ul {
    color: $dark-grey;
    font-size: 19px;
  }
}

.article-single__post-body {
  .socials {
    border-bottom: 1px solid $dark-grey;
    padding: 0 0 10px;

    .icon {
      color: $light-green;
      padding: 0 0 0 5px;
    }
  }

  .tags {
    padding: 20px 0;
    .icon {
      color: $navy-blue;
    }
  }

  .related_posts {
    padding: 0 0 50px;

    h3 {
      color: $navy-blue;
      margin: 0;
    }
  }
}

.article-cat-hero {
  padding: 50px 0 0;

  h2 {
    color: $navy-blue;
    margin: 0;
  }
}
