.hero-article {
  background-color: $dark-purple;
  padding: 70px 0;

  &__content {
    h1 {
      color: $white;
    }

    svg {
      display: none;
      height: 200px;
      width: 200px;

      @include bp(md) {
        display: block;
      }
    }

    .tags {
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 0 25px;

      @include bp(md) {
        padding: 0;
      }

      .icon {
        color: $light-green;
      }
    }
  }
}
