%button {
  background-color: $black;
  border: 0;
  box-shadow: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-primary;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1;
  margin: 1em 0.5em 0 0;
  padding: 16px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.25s;
  transition-property: color, background-color;
  transition-timing-function: ease-in-out;

  &:hover {
    background-color: $black;
  }

  &:focus {
    outline: none;
  }
}

%button--tag {
  border-radius: 21px;
  margin: 0 10px;
  padding: 5px;
  text-transform: capitalize;

  @include bp(md) {
    margin: 0 5px;
  }
}

%button-blue {
  background-color: $blue;

  &:hover {
    background-color: $blue-hover;
  }
}

%button-red {
  background-color: $crimson;

  &:hover {
    background-color: $crimson-hover;
  }
}

%button-white {
  background-color: $white;
  color: $dark;

  &:hover {
    background-color: $blue-hover;
    border: 1px solid $blue-hover;
    color: $white;
  }
}

%button-clear {
  background-color: $white;
  border: 1px solid $blue;
  color: $blue;

  &:hover {
    background-color: $blue-hover;
    border: 1px solid $blue-hover;
    color: $white;
  }
}

// scss-lint:disable QualifyingElement
.button,
button,
input[type='button'] {
  @extend %button;

  @include bp(IE11) {
    &.button--blue {
      background-color: $blue;

      &:hover {
        background-color: $blue-hover;
      }
    }

    &.button--red {
      background-color: $crimson;

      &:hover {
        background-color: $crimson-hover;
      }
    }

    &.button--white {
      background-color: $white;
      color: $dark;

      &:hover {
        background-color: $blue-hover;
        border: 1px solid $blue-hover;
        color: $white;
      }
    }

    &.button-tag {
      border: 1px solid $dark;
      border-radius: 21px;
      margin: 5px;
      padding: 10px;
      text-transform: capitalize;

      @include bp(md) {
        margin: 0 5px;
      }
    }

    &.button-clear {
      background-color: $white;
      border: 1px solid $blue;
      color: $blue;

      &:hover {
        background-color: $blue-hover;
        border: 1px solid $blue-hover;
        color: $white;
      }
    }
  }
}

.button {
  &--blue,
  &.blue {
    @extend %button-blue;
  }

  &--red,
  &.red {
    @extend %button-red;
  }

  &--white,
  &.white {
    @extend %button-white;
  }

  &--tag {
    align-items: center;
    border: 1px solid $dark;
    border-radius: 10px;
    display: flex;
    margin: 5px;
    padding: 10px;
    text-transform: capitalize;

    @include bp(md) {
      display: block;
      margin: 0 5px 5px;
    }
  }

  &--clear,
  &.clear {
    @extend %button-clear;
  }
}

button,
input[type='button'] {
  &[class*='--blue'],
  &.button--blue,
  &.blue {
    @extend %button-blue;
  }

  &[class*='--red'],
  &.button--red,
  &.red {
    @extend %button-red;
  }

  &[class*='--white'],
  &.button--white,
  &.white {
    @extend %button-white;
  }

  &[class*='--clear'],
  &.button--clear,
  &.clear {
    @extend %button-clear;
  }
}
