.breadcrumb-contact {
  background-color: $light-green;
  padding: 60px 0 0;

  #breadcrumbs {
    span {
      color: $blue-sky;
    }

    .breadcrumb_last {
      color: $dark-grey !important;
    }
  }
}

.hero-contact {
  background-color: $light-green;
  padding: 100px 0;

  h1 {
    color: $navy-blue;
    text-align: center;
    text-decoration: underline;
  }
}

.image-contact {
  margin: 0 0 20px;

  .container {
    overflow: visible;
  }

  .image_wrapper {
    display: flex;
    justify-content: center;
    margin-top: -120px;

    img {
      width: 60%;
    }
  }
}

.content-contact {
  margin: 0 0 30px;

  h1 {
    color: $navy-blue;
    font-size: 40px;
    margin: 20px 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $blue;
    margin: 20px 0;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  p,
  ul {
    color: $dark-grey;
    font-size: 19px;
  }
}
