.breadcrumb-contact {
  background-color: $crimson;
  padding: 60px 0 0;

  #breadcrumbs {
    span {
      color: $blue-sky;
    }

    .breadcrumb_last {
      color: $dark-grey !important;
    }
  }
}

.hero-contact {
  background-color: $crimson;
  padding: 0 0 120px;

  @include bp(md) {
    padding: 70px 0;
  }

  h1 {
    color: $navy-blue;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;

    @include bp(md) {
      font-size: 40px;
      text-align: left;
    }
  }
}

.content-contact {
  margin: 0 0 30px;

  h1 {
    color: $navy-blue;
    font-size: 40px;
    margin: 20px 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $blue;
    margin: 20px 0;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  p,
  ul,
  li,
  span {
    color: $dark;
    font-size: 19px;
  }

  a {
    color: $light-green;
  }

  .container {
    overflow: visible;
  }

  .image_wrapper {
    display: flex;
    justify-content: center;
    margin-top: -100px;

    @include bp(md) {
      margin-top: -200px;
      justify-content: baseline;
    }

    img {
      border-radius: 50%;
      height: 200px;
      width: 200px;
      z-index: 20;

      @include bp(md) {
        height: 230px;
        width: 230px;
      }

      @include bp(lg) {
        height: 400px;
        width: 400px;
      }
    }
  }

  .contact-details {
    margin: 50px 25px 0;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        padding: 0 0 10px;

        span {
          font-weight: 600;
        }

        a {
          color: $dark-blue;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column-reverse;

    @include bp(md) {
      flex-direction: row;
    }
  }
}

.mode-dark {
  .content-contact {
    .contact-details {
      ul {
        li {
          span {
            color: $white;
          }

          a {
            color: $blue;
          }
        }
      }
    }
  }
}
