.cta {
  margin: 40px 0;

  &-image {
    img {
      width: 100%;

      @include bp(lg) {
        width: 80%;
      }
    }
  }

  &-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      text-align: center;
      color: $navy-blue;
      font-size: 25px;
      margin: 0;

      @include bp(md) {
        font-size: 35px;
      }
    }

    &__button {
      padding: 0 0 50px;

      @include bp(md) {
        padding: 0;
      }
    }
  }
}
