.cta {
  margin: 40px 0;

  .cols {
    // padding: 0 20px;
    // box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  }

  &-wrapper {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    // box-shadow: 0 2px 4px rgba($black-hex, 0.13);
    margin: 10px 0;
    display: flex;
  }

  &-image,
  &-image-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    img {
      width: 100%;

      @include bp(lg) {
        width: 60%;
      }
    }
  }

  &-image-dark {
    display: none;
  }

  &-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 0 20px;

    h1 {
      text-align: center;
      color: $navy-blue;
      font-size: 25px;
      margin: 0;

      @include bp(lg) {
        font-size: 35px;
      }
    }

    &__button {
      padding: 0 0 50px;

      @include bp(md) {
        padding: 0;
      }

      .button {
        padding: 14px 20px;
        font-size: 15px;
      }
    }
  }
}

.mode-dark {
  .cta {
    &-wrapper {
      background-color: $header-black;
    }

    &-image {
      display: none;
    }

    &-image-dark {
      display: block;
    }

    &-content {
      h1 {
        color: $white;
      }

      .button--clear {
        border: 0;
      }
    }
  }
}
