.hero-home {
  background: $hero-gradient;
  padding: 100px 0;
  position: relative;

  @include bp(md) {
    padding: 150px 0 100px;
  }

  @include bp(lg) {
    padding: 200px 0;
  }

  &__image {
    img {
      border-radius: 50%;
    }
  }

  &__content {
    h3 {
      margin: 0;
    }

    .fake-h1 {
      height: 100px;

      @include bp(md) {
        height: 160px;
      }

      @include bp(lg) {
        height: 180px;
      }
    }

    .vl {
      border-left: 1px solid $white;
      height: 110px;
      margin: 0 1em;
      display: none;

      @include bp(lg) {
        display: block;
      }
    }

    .description {
      font-size: 15px;
      flex-direction: column;
      margin: 20px 0;

      @include bp(lg) {
        display: flex;
        margin: 0;
      }

      p {
        margin: 0;
      }

      a {
        color: $black;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        text-transform: none;
        transition-duration: 0.25s;
        transition-property: color, padding;
        transition-timing-function: ease-in-out;

        &:hover {
          &::after {
            width: 50%;
            margin-left: -50%;
          }
        }

        &::after {
          @include bp(lg) {
            content: '';
            bottom: 20.5%;
            height: 1px;
            left: 50%;
            position: absolute;
            width: 0;
            background: $black;
            transition: all 0.2s ease 0s;
          }
        }
      }
    }
  }

  .bg-circle {
    background: $circle-blue;
    border-radius: 500px;
    height: 500px;
    margin: -180px 0px 0px -180px;
    opacity: 0.5;
    position: absolute;
    width: 500px;

    @include bp(md) {
      height: 700px;
      width: 700px;
    }
  }

  .sm-circle {
    animation: spin 5s infinite linear;
    background-color: $light-green;
    border-radius: 50%;
    height: 150px;
    margin: 250px 0 0 580px;
    opacity: 0.2;
    position: absolute;
    right: 47%;
    width: 150px;

    @include bp(lg) {
      opacity: 1;
    }

    .spoke {
      background-color: $light-green;
      position: absolute;
      height: 175px;
      width: 30px;
      margin-left: -15px;
      margin-top: -12.5px;
      left: 50%;
      border-radius: 5px;
      z-index: 10;
    }

    .spoke + .spoke {
      transform: rotateZ(45deg);
    }

    .spoke + .spoke + .spoke {
      transform: rotateZ(-45deg);
    }

    .spoke + .spoke + .spoke + .spoke {
      transform: rotateZ(90deg);
    }

    // .hole {
    //   position: absolute;
    //   width: 130px;
    //   height: 130px;
    //   margin-left: 10px;
    //   margin-top: 10px;
    //   background-color: $light-green;
    //   border-radius: 50%;
    //   z-index: 3000;
    //   box-shadow: inset 0 0 90px darkslategray;
    // }
  }

  .bg-open-circle {
    background: rgba(50, 115, 220, 0);
    border-radius: 400px;
    border: 5px solid $blue-sky;
    height: 700px;
    opacity: 0.2;
    overflow: hidden;
    position: absolute;
    right: 20%;
    bottom: 21%;
    margin: 0px -200px -190px 0px;
    width: 700px;
    animation: spin 8s infinite linear;

    @include bp(lg) {
      opacity: 1;
    }
  }

  .sm-open-circle {
    background: rgba(50, 115, 220, 0);
    border-radius: 400px;
    border: 5px solid $blue-sky;
    height: 400px;
    opacity: 0.2;
    overflow: hidden;
    position: absolute;
    right: 20%;
    bottom: 20%;
    width: 400px;
    animation: spin 8s infinite linear;

    @include bp(lg) {
      opacity: 1;
    }
  }

  .animated-icons {
    align-items: center;

    @include bp(lg) {
      display: flex;
    }

    &-wrapper {
      display: flex;

      a:first-child {
        div {
          margin-left: 0px !important;
        }
      }
    }

    a:not(.started) {
      color: $yellow-bright;
      display: inline-block;
      font-size: 0.5em;
      position: relative;
      text-decoration: none;

      @include bp(lg) {
        display: block;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
        transition: all 0.3s;
      }

      &:hover::after {
        --transformed-box-diagonal-length: 164%;
        width: var(--transformed-box-diagonal-length);
        left: calc((100% - var(--transformed-box-diagonal-length)) / 2);
      }

      div {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        transition: transform 0.3s;
        margin: 0 10px;

        @include bp(md) {
          margin: 1.5em;
        }
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        border: 1px solid $yellow-bright;
        border-radius: 5px;

        &:nth-child(5) {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
        }
      }

      &:hover div {
        transform: rotate(-35deg) skew(20deg);
      }

      &:hover span:nth-child(5) {
        transform: translate(20px, -20px);
        opacity: 1;
      }
      &:hover span:nth-child(4) {
        transform: translate(15px, -15px);
        opacity: 0.8;
      }
      &:hover span:nth-child(3) {
        transform: translate(10px, -10px);
        opacity: 0.6;
      }
      &:hover span:nth-child(2) {
        transform: translate(5px, -5px);
        opacity: 0.4;
      }
      &:hover span:nth-child(1) {
        opacity: 0.2;
      }

      /* orange background spans */
      &.orange-background span {
        background: $light-green;
        border-color: $yellow-bright;
      }
      &.orange-background span:nth-child(5) {
        background: $blue-sky;
      }

      /* orange shadow */
      &.orange-shadow:hover span {
        box-shadow: -1px 1px 3px $light-green;
      }

      /* orange border  */
      &.orange-border span {
        border-color: $light-green;
      }
      &.orange-border span:nth-child(5) {
        border-color: $yellow-bright;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-color: $light-green;
  }
  100% {
    transform: rotate(360deg);
    z-index: 0;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
