.latest-posts {
  &_title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1,
    a,
    .icon {
      color: $navy-blue;
    }

    a {
      z-index: 200;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .featured-small {
    flex: 1;
  }

  .mobile-only {
    display: block;

    @include bp(sm) {
      display: none;
    }
  }

  .desktop-only {
    display: none;

    @include bp(sm) {
      display: block;
    }
  }
}

.mode-dark {
  .latest-posts {
    &_title {
      h1,
      a,
      .icon {
        color: $blue;
      }
    }
  }
}
