.latest-posts {
  padding: 80px 0;
  
  &_title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1,
    a,
    .icon {
      color: $navy-blue;
    }

    h1 {
      font-size: 24px;
      margin: 0;
      text-transform: uppercase;

      &::after {
        background-color: $light-green;
        content: '';
        height: 5px;
        width: 20px;
        margin-top: 5px;
        margin-bottom: 1rem;
        display: block;
        position: relative;
      }
    }

    a {
      z-index: 200;
      text-decoration: none;
      position: relative;

      &:hover {
        &::after {
          width: 100%;
          margin-left: -50%;
        }
      }

      &::after {
        content: "";
        bottom: -10%;
        height: 3px;
        left: 50%;
        position: absolute;
        width: 0;
        background: $light-green;
        transition: all .2s ease 0s;
      }
    }
  }

  .featured-small {
    flex: 1;
  }

  .mobile-only {
    display: block;

    @include bp(sm) {
      display: none;
    }
  }

  .desktop-only {
    display: none;

    @include bp(sm) {
      display: block;
    }
  }
}

.mode-dark {
  .latest-posts {
    &_title {
      h1,
      a,
      .icon {
        color: $blue;
      }
    }
  }
}
