.custom-shape-wrap {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 4;
  box-sizing: border-box;
}

.hero-home {
  .custom-shape-wrap {
    bottom: -8px;
    transform: scaleX(-1);
  }
}

.hero-about {
  .custom-shape-wrap {
    bottom: -20px;
    transform: scaleX(-1);
  }
}

.hero-contact {
  .custom-shape-wrap {
    z-index: 0;
  }
}

.hero-article {
  .custom-shape-wrap {
    display: none;

    @include bp(sm) {
      display: block;
    }
  }
}

.mode-dark {
  .custom-shape-wrap {
    svg {
      #shape-p {
        fill: $body-dark !important;
      }
    }
  }
}
