.tile-article,
.featured-tile-article {
  background-color: $white;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: $navy-blue;
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;
  text-decoration: none;
  transition: all 0.2s ease-in-out, width 2s;

  @include bp(md) {
    margin: 0;
  }

  &__content {
    height: 145px;
    padding: 0 20px 10px;

    h3 {
      font-size: 16px;
      height: 85px;
      margin: 20px 0;
    }

    .meta {
      align-items: center;
      display: flex;
      font-size: 14px;
      justify-content: space-between;

      &_time {
        span {
          margin-right: 5px;
        }
      }

      &_author {
        span {
          text-transform: capitalize;
        }
      }
    }
  }

  &__image {
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 50% !important;
    height: 165px;

    // @include bp(lg) {
    //   background-size: contain !important;
    // }
  }

  &:hover {
    transform: scale(1.02);

    .tile-article__content {
      background-color: lighten($navy-blue, 80%);

      h3 {
        text-decoration: underline;
      }
    }
  }

  &.small {
    .tile-article__content {
      height: 104px;

      h3 {
        height: 45px;
      }
    }
  }
}

.featured-tile-article {
  flex-direction: row;

  .tile-article__image {
    height: 250px;
    width: 100%;

    @include bp(lg) {
      width: 66%;
    }
  }

  .tile-article__content {
    height: 240px;

    h3 {
      height: 170px;
    }
  }
}

.featured-small,
.featured-large {
  padding: 0 0 1px;
}

.mode-dark {
  .tile-article,
  .featured-tile-article {
    background-color: $header-black;
    color: $white;

    &:hover {
      .tile-article__content {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
