a {
  &.view-more {
    color: $blue;
    margin-right: 5px;
    z-index: 200;
    text-decoration: none;
    position: relative;
    transition: all .2s ease-in-out;
    font-weight: 700;
  
    &:hover {
      &::after {
        width: 100%;
        margin-left: -50%;
      }
    }
  
    &::after {
      content: "";
      bottom: -10%;
      height: 2px;
      left: 50%;
      position: absolute;
      width: 0;
      background: $light-green;
      transition: all .2s ease 0s;
    }
  }
}

.cat-meta {
  a {
    &.view-more { 
      &::after {
        top: 50%;
      }
    }
  }
}